@mixin box-shadow {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(78,91,107,0.24) !important;
  -moz-box-shadow: 0px 3px 0px 0px rgba(78,91,107,0.24) !important;
  box-shadow: 0px 3px 0px 0px rgba(78,91,107,0.24) !important;
}

@mixin box-shadow-colored($color) {
  -webkit-box-shadow: 0px 3px 0px 0px darken($color, 7%) !important;
  -moz-box-shadow: 0px 3px 0px 0px darken($color, 7%) !important;
  box-shadow: 0px 3px 0px 0px darken($color, 7%) !important;
}

@mixin border-radius {
  border-radius:  5px;
}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    transform: translateY(-50%);
  }
}
