@mixin box-shadow {
  -webkit-box-shadow: 0px 3px 0px 0px rgba(78,91,107,0.24);
  -moz-box-shadow: 0px 3px 0px 0px rgba(78,91,107,0.24);
  box-shadow: 0px 3px 0px 0px rgba(78,91,107,0.24);
}

@mixin border-radius {
  border-radius:  5px;
}
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}