/*-----------------------------------
                colors
 ------------------------------------*/
$white:                  #ffffff;
$mate-dark-gray:         #4E5B6B;
$mate-light-gray:        #8692a0;
$purple:                 #4F87F5;
$purple-white:           #F6F9FE;
$leaf-green:             #45CB85;
$alizarin:               #ff4d4d;
$sky-blue:               #ECF4FA;
$ash-gray:               #8EA1B9;

$border-width:           1px;
$border-radius:          5px;
$border-radius-lg:       $border-radius;
$border-radius-sm:       $border-radius;
 